<mat-list role="list">
  <mat-list-item role="listitem" class="active">
    <mat-icon svgIcon="ic-account-circle" class="grey-icon"></mat-icon> All Users</mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon svgIcon="ic-star-rate" class="grey-icon"></mat-icon> Favorites</mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon svgIcon="ic-verified-user" class="grey-icon"></mat-icon> Administrators</mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon svgIcon="ic-supervisor-account" class="grey-icon"></mat-icon> Non-Admins</mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon svgIcon="ic-inbox" class="grey-icon"></mat-icon> Archived</mat-list-item>
</mat-list>